@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(245, 242, 242, 0.845);
}

#logo {
    filter: drop-shadow(0 0 1rem #45b35b94);
}

#uni{
    filter: drop-shadow(0 0 10rem #45b35bff);
}